setuptools
git+https://github.com/kushalarora/LMPL
cython==0.29.14
comet_ml==3.1.11
numpy==1.20.3
spacy==2.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
sacrebleu==1.4.4
torchvision
fairseq==0.9.0
python-Levenshtein==0.12.0
git+https://github.com/huggingface/transformers
datasets