setuptools
cython
numpy
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
python-Levenshtein==0.12.0
git+https://github.com/huggingface/transformers
datasets
wandb
allennlp==2.5.0
allennlp-models==2.5.0